body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
     margin-right: 0px;
	padding-top: 0;
     background-color: rgb(10, 10, 11);
}

nav.navbar {
	padding: 10px;
	position: sticky;
	top: 0;
	color: whitesmoke;
	background-color: rgb(16, 16, 17);
	line-height: 100%;
	font-family: monospace;
	box-shadow: 0 2px 15px 0 rgba(0,0,0,.6);
}

nav.navbar p {
	margin-top: 0px;
	margin-bottom: 5px;
	margin-right: 0px;
}

nav.navbar img {
	height: 15px;
	vertical-align: middle;
}


a:link {
	color: rgb(43, 50, 255);
     background-color: transparent;
     text-decoration: none;
}

a:hover {
	background-color: rgba(0, 13, 255, 0.185);
}
    
a:visited {
	color: rgb(43, 50, 255);
	background-color: transparent;
}
 
div.gopher-page {
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}


.gopher-element {
	font-family: monospace;
	color: rgb(201, 201, 201);
	margin: 0;
     padding: 0;
	height: 18;
}

.gopher-element-error {
	color: #ff4444;
}
    
.gopher-element img {
     vertical-align: middle;
     object-fit: contain;
     width: 15px;
     height: 15px;
     margin-right: 5px;
}

.gopher-element pre {
     padding: 0px;
     margin-top: 0px;
     margin-bottom: 0px;
     padding-top: 0px;
	padding-bottom: 0px;
}